@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "fluid-font-size";
@import "fluid-padding";
@import "fluid-margin";

$latoSans: 'Lato', sans-serif;
$white-color: #ffffff;
$black-color: #000000;
$black-gray-color: #101010;
$carrot-color: #ED4C5C;

$app-container-width: 1280px;
$lg-vp-break-point: 992px;
$sm-vp-break-point: 768px;
$xs-vp-break-point: 576px;

html, body {
    height: 100%;
    font-family: $latoSans;
}
.container-home {
    background: url(/img/Rectangle.png) #C4C4C4;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    &::before { 
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.85;
        z-index: -1;
    }
    .header {
        .header-nav {
            @media (max-width: #{$lg-vp-break-point - 1})  {
                display: none;
            }
            // padding-left: 166px;
            @include fluid-padding('left', 40px, 166px, $lg-vp-break-point, 1440px);
            // padding-right: 168px;
            @include fluid-padding('right', 40px, 168px, $lg-vp-break-point, 1440px);
            @include fluid-padding('top', 20px, 60px, $lg-vp-break-point, 1440px);
            // padding-top: 60px;
            display: flex;
            justify-content: space-around;
            .header-nav-logo {
                display: flex;
                align-items: center;
                .header-nav-logo-text {
                    margin-left: 10px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: $white-color;
                    text-transform: uppercase;
                }
            }
            .header-nav-menu {
                // margin-left: 161px;
                @include fluid-margin('left', 20px, 161px, $lg-vp-break-point, 1440px);
                // margin-right: 114px;
                @include fluid-margin('right', 20px, 114px, $lg-vp-break-point, 1440px);
                display: flex;
                align-items: center;
                > a {
                    font-family: $latoSans;
                    font-style: normal;
                    font-weight: bold;
                    // font-size: 14px;
                    @include fluid-font-size(9px, 14px, 100px, 1440px);
                    line-height: 17px;
                    text-decoration: none;
                    color: $white-color;
                }
                a:hover {
                    color: none;
                }
                a:not(:first-child) {
                    margin-left: 17px;
                }
            }
            .header-nav-lang-login {
                display: flex;
                align-items: center;
                .text-lang {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: $white-color;
                    margin-left: 12px;
                }
                .vector {
                    margin-left: 10px;
                    margin-right: 28px;
                }
                .button-login {
                    border: 1px solid $white-color;
                    box-sizing: border-box;
                    color: $white-color;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: uppercase;
                    border-radius: 6px;
                    padding: 12px 29px;
                    background: inherit;
                }
            }
        }
    }
    .container-main {
        text-align: center;
        // padding-bottom: 187px;
        @include fluid-padding('bottom', 40px, 187px, $lg-vp-break-point, 1440px);
        .main-title {
            // margin-top: 177px;
            @include fluid-margin('top', 30px, 177px, $lg-vp-break-point, 1440px);
            font-style: normal;
            font-weight: bold;
            @include fluid-font-size(24px, 72px, 100px, 1440px);
            // font-size: 72px;
            line-height: 86px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            // padding-bottom: 39px;
            @include fluid-padding('bottom', 25px, 39px, $lg-vp-break-point, 1440px);
            color: $white-color;
        }
        .main-text {
            font-style: normal;
            font-weight: 600;
            // font-size: 24px;
            @include fluid-font-size(15px, 24px, 100px, 1440px);
            line-height: 150%;
            color: $white-color;
            // padding-bottom: 59px;
            @include fluid-padding('bottom', 30px, 59px, $lg-vp-break-point, 1440px);
        }
        .button-sign_up {
            background: $white-color;
            border: 1px solid $white-color;
            border-radius: 6px;
            padding: 16px 52px;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $carrot-color;
        }
    }
}
.container-video {
    // padding: 95px 0;
    @include fluid-padding('top', 40px, 95px, $lg-vp-break-point, 1440px);
    @include fluid-padding('bottom', 40px, 95px, $lg-vp-break-point, 1440px);
    .content-video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 100px) and (max-width: $lg-vp-break-point)  {
            text-align: center;
            @include fluid-margin('bottom', 20px, 35px, $xs-vp-break-point, $lg-vp-break-point - 1);
        }
        .video-title {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            color: $black-color;
            // margin-bottom: 44px;
            @include fluid-margin('bottom', 30px, 44px, $sm-vp-break-point, 1440px);
        }
        .video-text {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: $black-color;
            margin-bottom: 20px;
            @media (max-width: $xs-vp-break-point) {
                padding: 0 10%;
            }
        }
        .link_learn-more {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: $carrot-color;
            text-decoration: none;
        }
    }
    .video {
        position: relative;
        @media (min-width: 100px) and (max-width: #{$lg-vp-break-point - 1})  {
            text-align: center;
            // @include fluid-margin('bottom', 20px, 35px, $xs-vp-break-point, $lg-vp-break-point - 1);
        }
        .play-button {
            position: absolute;
            top: 40%;
            left: -30px;
            @media (min-width: $sm-vp-break-point) and (max-width: $lg-vp-break-point)  {
                left: 95px;
            }
            @media (min-width: $xs-vp-break-point) and (max-width: #{$sm-vp-break-point - 1})  {
                left: 4px;
            }
            // @media (max-width: #{$xs-vp-break-point})  {
            //     left: 20px;
            // }
        }
    }
}
.container-feature {
    background: #FAFAFA;
    .content-feature {
        // padding-top: 63px;
        @include fluid-padding('top', 30px, 63px, $sm-vp-break-point, 1440px);
        .title-feature {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            text-align: center;
        }
        .content-feature-card {
            // padding-top: 80px;
            @include fluid-padding('top', 20px, 80px, $sm-vp-break-point, 1440px);
            @include fluid-padding('bottom', 20px, 229px, $sm-vp-break-point, 1440px);
            @media (min-width: 100px) and (max-width: $lg-vp-break-point)  {
                text-align: center;
            }
            // padding-bottom: 229px;
            .feature-card {
                position: relative;
                @media (min-width: 100px) and (max-width: $lg-vp-break-point)  {
                    margin-bottom: 130px;
                }
                .link_read-more {
                    text-align: center;
                    padding-top: 10px;
                    a {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 150%;
                        color: $carrot-color;
                        text-decoration: none;
                    }
                }
                .card-money {
                    position: absolute;
                    top: 62%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%);
                    background: $white-color;
                    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    padding-top: 33px;
                    padding-bottom: 25px;
                    padding-left: 32px;
                    padding-right: 32px;
                    // @media (min-width: #{$sm-vp-break-point}) and (max-width: #{$lg-vp-break-point})  {
                    //     left: 30%;
                    // }
                    // @media (min-width: #{$xs-vp-break-point}) and (max-width: #{$sm-vp-break-point})  {
                    //     left: 23%;
                    // }
                    // @media (max-width: $sm-vp-break-point) {
                    //     left: 50%;
                    //     margin-right: -50%;
                    //     transform: translate(-50%)
                    // }
                    .card-money-title {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: $black-gray-color;
                    }
                    .card-money-text {
                        margin-top: 20px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 150%;
                        text-align: center;
                        color: $black-gray-color;
                    }
                }
                .card-phone {
                    position: absolute;
                    top: 62%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%);
                    background: $white-color;
                    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    padding-top: 33px;
                    padding-bottom: 25px;
                    padding-left: 32px;
                    padding-right: 32px;
                    // @media (min-width: #{$sm-vp-break-point}) and (max-width: #{$lg-vp-break-point})  {
                    //     left: 31%;
                    // }
                    // @media (min-width: #{$xs-vp-break-point}) and (max-width: #{$sm-vp-break-point})  {
                    //     left: 25%;
                    // }
                    // @media (max-width: $sm-vp-break-point) {
                    //     left: 50%;
                    //     margin-right: -50%;
                    //     transform: translate(-50%)
                    // }
                    .card-phone-title {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: $black-gray-color;
                    }
                    .card-phone-text {
                        margin-top: 20px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 150%;
                        text-align: center;
                        color: $black-gray-color;
                    }
                }
                .card-hall {
                    position: absolute;
                    top: 62%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%);
                    background: $white-color;
                    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    padding-top: 33px;
                    padding-bottom: 25px;
                    padding-left: 32px;
                    padding-right: 32px;
                    // @media (min-width: #{$sm-vp-break-point}) and (max-width: #{$lg-vp-break-point})  {
                    //     left: 30%;
                    // }
                    // @media (min-width: #{$xs-vp-break-point}) and (max-width: #{$sm-vp-break-point})  {
                    //     left: 24%;
                    // }
                    // @media (max-width: $sm-vp-break-point) {
                    //     left: 50%;
                    //     margin-right: -50%;
                    //     transform: translate(-50%)
                    // }
                    .card-hall-title {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: $black-gray-color;
                    }
                    .card-hall-text {
                        margin-top: 20px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 150%;
                        text-align: center;
                        color: $black-gray-color;
                    }
                }
            }
        }
    }
}
.container-technology {
    .content-technology {
        // padding-top: 65px;
        @include fluid-padding('top', 40px, 65px, $sm-vp-break-point, 1440px);
        @include fluid-padding('bottom', 70px, 108px, $sm-vp-break-point, 1440px);
        // padding-bottom: 108px;
        .title-technology {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            text-align: center;
            color: $black-color;
            text-transform: uppercase;
        }
        .content-cloud {
            // position: relative;
            .img-cloud {
                position: absolute;
                top: 55px;
                left: 36%;
                @media (min-width: #{$sm-vp-break-point}) and (max-width: #{$lg-vp-break-point})  {
                    left: 38%;
                }
                @media (max-width: $sm-vp-break-point) {
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%)
                }
            }
            .cloud-title {
                font-style: normal;
                font-weight: bold;
                font-size: 100px;
                line-height: 120px;
                text-align: center;
                color: rgba(16, 16, 16, 0.08);
            }
            .cloud-text {
                margin-top: 19px;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: $black-gray-color;
                margin-bottom: 10px;
            }
            .cloud-explanation {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: $black-color;
            }
        }
        .content-secure {
            // position: relative;
            .img-secure {
                position: absolute;
                top: 65px;
                left: 39%;
                @media (min-width: #{$sm-vp-break-point}) and (max-width: #{$lg-vp-break-point})  {
                    left: 41%;
                }
                @media (max-width: $sm-vp-break-point) {
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%)
                }
            }
            .secure-title {
                font-style: normal;
                font-weight: bold;
                font-size: 100px;
                line-height: 120px;
                text-align: center;
                color: rgba(16, 16, 16, 0.08);
            }
            .secure-text {
                margin-top: 19px;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: $black-gray-color;
                margin-bottom: 10px;
            }
            .secure-explanation {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: $black-color;
            }
        }
        .content-download-pdf {
            // position: relative;
            .img-pdf-download {
                position: absolute;
                top: 60px;
                left: 39%;
                @media (min-width: #{$sm-vp-break-point}) and (max-width: #{$lg-vp-break-point})  {
                    left: 41%;
                }
                @media (max-width: $sm-vp-break-point) {
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%)
                }
            }
            .download-pdf-title {
                font-style: normal;
                font-weight: bold;
                font-size: 100px;
                line-height: 120px;
                text-align: center;
                color: rgba(16, 16, 16, 0.08);
            }
            .download-pdf-text {
                margin-top: 19px;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: $black-gray-color;
                margin-bottom: 10px;
            }
            .download-pdf-explanation {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: $black-color;
            }
        }
        .content-download-cvs {
            // position: relative;
            .img-cvs-download {
                position: absolute;
                top: 70px;
                left: 42%;
                @media (min-width: #{$sm-vp-break-point}) and (max-width: #{$lg-vp-break-point})  {
                    left: 44%;
                }
                @media (max-width: $sm-vp-break-point) {
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%)
                }
            }
            .download-cvs-title {
                font-style: normal;
                font-weight: bold;
                font-size: 100px;
                line-height: 120px;
                text-align: center;
                color: rgba(16, 16, 16, 0.08);
            }
            .download-cvs-text {
                margin-top: 19px;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: $black-gray-color;
                margin-bottom: 10px;
            }
            .download-cvs-explanation {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: $black-color;
            }
        }
    }
}
.container-gallery {
    background: $carrot-color;
    // padding-top: 94px;
    // padding-bottom: 95px;
    @include fluid-padding('top', 10px, 94px, 100px, $lg-vp-break-point);
    @include fluid-padding('bottom', 10px, 95px, 100px, $lg-vp-break-point);
    @media (min-width: 100px) and (max-width: $lg-vp-break-point) {
        text-align: center;
    }
    .gallery-title {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: $white-color;
        // padding-bottom: 44px;
        @include fluid-padding('bottom', 20px, 44px, 100px, $lg-vp-break-point);
    }
    .gallery-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $white-color;
    }
    .gallery-buttons {
        // padding-top: 44px;
        @include fluid-padding('top', 10px, 44px, 100px, $lg-vp-break-point);
        display: flex;
        img:not(:first-child) {
            margin-left: 23px;
        }
        @media (min-width: 100px) and (max-width: $lg-vp-break-point) {
            margin-bottom: 20px;
            justify-content: center;
        }
    }
}
.container-contact-form {
    // padding-top: 117px;
    @include fluid-padding('top', 30px, 117px, $sm-vp-break-point, 1440px);
    @include fluid-padding('bottom', 30px, 123px, $sm-vp-break-point, 1440px);
    @media (min-width: 100px) and (max-width: $lg-vp-break-point)  {
        text-align: center;
    }
    // padding-bottom: 123px;
    .contact-form-title {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: $black-color;
        // margin-bottom: 70px;
        @include fluid-padding('bottom', 10px, 70px, 100px, $lg-vp-break-point);
        // @include fluid-margin('bottom', 10px, 70px, 100px, $lg-vp-break-point)
        // @include fluid-margin('bottom', 30px, 44px, $sm-vp-break-point, 1440px);
    }
    .contact-form-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $black-color;
        @media (min-width: 100px) and (max-width: $lg-vp-break-point)  {
            margin-bottom: 40px;
        }
    }
    .content-form {
        @media (min-width: 100px) and (max-width: #{$lg-vp-break-point - 1}) {
            display: none;
        }
        .row {
            margin-bottom: 24px;
            @media (min-width: $sm-vp-break-point) and (max-width: $lg-vp-break-point)  {
                display: flex;
                justify-content: center;
            }
        }
        .small-input {
            border: 1px solid #333333;
            padding-left: 31px;
            box-sizing: border-box;
            border-radius: 6px;
            max-width: 255px;
            width: 100%;
            height: 60px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: rgba(19, 39, 67, 0.5);
            margin-top: 24px; // тут під питанням
        }
        .long-input {
            border: 1px solid #333333;
            box-sizing: border-box;
            border-radius: 6px;
            padding-left: 31px;
            max-width: 540px;
            width: 100%;
            height: 60px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: rgba(19, 39, 67, 0.5);
        }
        .submit-now {
            background: $carrot-color;
            border: 1.5px solid $carrot-color;
            box-sizing: border-box;
            border-radius: 6px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: $white-color;
            padding: 17px 34px;
        }
    }
    .content-form-mobile {
        @media (min-width: $lg-vp-break-point){
            display: none;
        }
        .row {
            margin-bottom: 24px;
            @media (min-width: $sm-vp-break-point) and (max-width: $lg-vp-break-point)  {
                display: flex;
                justify-content: center;
            }
        }
        .small-input {
            border: 1px solid #333333;
            padding-left: 31px;
            box-sizing: border-box;
            border-radius: 6px;
            max-width: 255px;
            width: 100%;
            height: 60px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: rgba(19, 39, 67, 0.5);
            margin-top: 24px; // тут під питанням
            @media (max-width: $lg-vp-break-point) {
                max-width: 540px;
                margin-top: 0; // тут під питанням
            }
        }
        .long-input {
            border: 1px solid #333333;
            box-sizing: border-box;
            border-radius: 6px;
            padding-left: 31px;
            max-width: 540px;
            width: 100%;
            height: 60px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: rgba(19, 39, 67, 0.5);
        }
        .submit-now {
            background: $carrot-color;
            border: 1.5px solid $carrot-color;
            box-sizing: border-box;
            border-radius: 6px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: $white-color;
            padding: 17px 34px;
        }
    }
}
.footer {
    // padding-top: 85px;
    @include fluid-padding('top', 40px, 85px, $sm-vp-break-point, 1440px);
    background: #FAFAFA;
    @media (min-width: 100px) and (max-width: $lg-vp-break-point)  {
        text-align: center;
    }
    .copyright {
        @include fluid-padding('bottom', 20px, 89px, $sm-vp-break-point, 1440px);
        // margin-top: 120px;
        @include fluid-margin('top', 50px, 120px, $lg-vp-break-point, 1440px);
        // padding-bottom: 89px;
    }
    .copyright > span{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $black-gray-color;
        user-select: none;   
    }
    li {
        list-style-type: none; /* Убираем маркеры */
       }
    ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    }
    .title-col {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $black-gray-color;
        margin-bottom: 33px;
    }
    .text-col {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: $black-gray-color;
    }
    .text-contact-col {
        display: flex;
        flex-direction: column;
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: $black-gray-color;
            text-decoration: none;
        }
        a:first-child {
            margin-bottom: 11px;
        }
    }
    .social-networks {
        @media (min-width: 100px) and (max-width: $sm-vp-break-point) {
            margin-bottom: 33px;
        }
        .img-social-network {
            margin-top: 21px;
        }
        .img-social-network:not(:first-child) {
            margin-left: 10px;
        }
    }
}
// .menu-btn {
//     display: block;
//     width: 50px;
//     height: 50px;
//     background: inherit;
//     border-radius: 50%;
//     position: relative;
//   }
//   .menu-btn span,
//   .menu-btn span::before,
//   .menu-btn span::after {
//     position: absolute;
//     top: 50%; margin-top: -1px;
//     left: 50%; margin-left: -10px;
//     width: 20px;
//     height: 2px;
//     background-color: #ffffff;
//   }
//   .menu-btn span::before,
//   .menu-btn span::after {
//     content: '';
//     display: block;
//     transition: 0.2s;
//   }
//   .menu-btn span::before {
//     transform: translateY(-5px);
//   }
//   .menu-btn span::after {
//     transform: translateY(5px);
//   }
  
//   .menu-btn_active span:before {
//     transform: rotate(-35deg);
//     width: 10px;
//     transform-origin: left bottom;
//   }
//   .menu-btn_active span:after {
//     transform: rotate(35deg);
//     width: 10px;
//     transform-origin: left top;
//   }
  
//   .menu-block {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .menu-nav {
//     background-color: #fff;
//     height: 50px;
//   }
//   .menu-nav__link {
//     display: inline-block;
//     text-decoration: none;
//     color: #fff;
//     margin-right: 20px;
//   }
//   .menu-nav__link {
//     transition: 0.5s;
//     transform-origin: right center;
//     transform: translateX(50%);
//     opacity: 0;
//   }
//   .menu-nav__link_active {
//     transform: translateX(0%);
//     opacity: 1;
//   }
.header-nav-resize {
    position: relative;
    height: 20px;
    @media (min-width: $lg-vp-break-point) {
        display: none;
    }
#menuToggle
{
  display: block;
  text-align: right;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}